:root {
  ---basetextcolor: #f0dbb4;
  ---darkbasetext: #0e0b04;
}
.grid-2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid-3col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.embed {
  width: 100%;
  aspect-ratio: 1 /1;
}
.pictureTint {
  filter: sepia(40%);
}
/*  */

body {
  background-color: black;
  font-family: "Raleway", sans-serif;
  color: var(---basetextcolor);
}
h1 {
  font-size: 120px;
  font-weight: 800;
  letter-spacing: 5px;
  font-family: "Bitter", serif;
  margin: 0;
}
h2 {
  font-size: 52px;
  font-style: italic;
  font-weight: 500;
  margin: 10px 0 200px 0;
}
h3 {
  color: var(---basetextcolor);
  font-size: 52px;
  margin: 0;
  text-align: center;
}

h4 {
  font-size: 36px;
  margin: 20px auto 30px;
}h5 {
  font-size: 16px;
  text-decoration: underline;
}
h6 {
  font-size: 20px;
  margin: 5px;
  font-family: "Bitter", serif;
}
button {
  background-color: black;
  color: var(---basetextcolor);
  border: 3px solid var(---basetextcolor);
  font-size: 17px;
}

/*  */
.hero {
  background: linear-gradient(
      172deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgb(0, 0, 0, 0.6) 100%
    ),
    url("/Media/underground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 240px;
  height: 600px;
  text-align: center;
}

.playButton {
  display: inline-block;
  margin: 15px 65px;
  padding: 10px 25px;
  border-radius: 20px;
}

/* showcase */
.mainHeadline {
  padding: 65px 0 80px 0;
}
.showcase {
  filter: sepia(65%);
}

/* playlist  */
.underground {
  padding: 0 30px;
  vertical-align: middle;
}
.playlist h3 {
  padding-bottom: 35px;
}
/* cards  */

.card {
  width: 90%;
  background-color: var(---darkbasetext);
  padding: 20px;
  font-size: 16px;
  margin: 0 0 35px 0;
}

.cardFooter button {
  display: block;
  margin: 10px auto;
  padding: 8px 0;
  width: 75%;
}

/*  Venues*/
section.venues {
  margin: 0 90px;
  text-align: center;
}

.tableResponsive {
  height: 400px;
  overflow: auto;
}
table {
  min-width: 100%;
  background-color: var(---darkbasetext);
  border-spacing: 30px 5px;
}

.venueImg {
  height: 280px;
}

/* FOOTER */
footer {
  color: var(---basetextcolor);
  background: linear-gradient(172deg, rgba(0, 0, 0, 0.85), rgb(0, 0, 0, 0.85)),
    url("/Media/tubeMap.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 2fr 0fr 2fr;
  grid-gap: 40px;
  padding: 55px 0 40px 0;
}

.contactTwo {
  display: none;
}
.gitHub {
  color: #af976a;
  font-size: large;
  font-weight: 600;
  text-decoration: none;
}
.gitHub:hover {
  color: var(---basetextcolor);
}
.wayout {
  display: block;
  width: 95px;
  border-top: 5px solid whitesmoke;
  border-right: 20px solid whitesmoke;
  border-bottom: 15px ridge whitesmoke;
  border-left: 5px groove whitesmoke;
  margin: 60px auto;
  font-weight: 800;
  color: #ffeb36;
  background: linear-gradient(
    344deg,
    rgb(10, 0, 5) 0%,
    rgb(15, 15, 15) 16%,
    rgb(39, 39, 39) 40%,
    rgb(2, 0, 8) 100%
  );
  text-decoration: none;
  padding: 8px 28px 8px 2px;
  filter: brightness(60%);
  border-radius: 2px;
}
.arrowimg {
  height: 18px;
  padding: 0;
  margin: 0;
  vertical-align: text-bottom;
}
/* 'Bitter', serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Dawning of a New Day', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Zeyada', cursive; */

@media (max-width: 900px) {
  .grid-2col {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid-3col {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .hero {
    padding-top: 200px;
    height: 500px;
  }

  .hero h1 {
    font-size: 100px;
  }
  .hero h2 {
    font-size: 42px;
    margin: 10px 0 100px 0;
  }

  .showcase {
    margin-top: 40px;
  }

  footer {
    grid-template-columns: 1fr 3fr;

    padding: 40px 0;
  }
}

@media (max-width: 480px) {
  .grid-3col {
    grid-template-columns: 1fr;
  }
  .hero {
    padding-top: 150px;
    height: 420px;
  }

  .hero h1 {
    font-size: 70px;
  }
  .hero h2 {
    font-size: 30px;
    margin: 10px 0 50px 0;
  }

  .showcase {
    margin-top: 20px;
  }
  footer {
    grid-template-columns: 1fr;
    grid-gap: 0px;
    padding: 25px 2px 0 10px;
  }

  .contactTwo {
    display: block;
  }
  .contact {
    display: none;
  }
  .wayout {
    margin: 40px auto;
  }
  .grid-3col {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
}

